{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <img src="https://uvn-brightspot.s3.amazonaws.com/assets/vixes/r/ron_pruebas_quidditch.jpg" alt="">
  </header>
  <main>
    <h2>Notificador de Gryffindor</h2>
    <span>Aplicacion de ayuda para inundaciones</span>
    <p>Gryffindor Penguin es una aplicacion creada con la finalidad ayudar a las personas en situacion de vulnerabilidad en los banados</p>
  </main>
  <footer>
    <button id="btnAdd">Agregar escritorio</button>
  </footer>
</article>
{% endblock %}
